<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
 		<form method="POST" action="/team">
			Team Name: <input type="text" name="team_name" placeholder="Team Name"><br>
			Coach: <input type="text" name="coach" placeholder="Coach"><br>
			Point Guard: <input type="text" name="point_guard" placeholder="Point Guard"><br>
			Shooting Guard: <input type="text" name="shooting_guard" placeholder="Shooting Guard"><br>
			Small Forward: <input type="text" name="small_forward" placeholder="Small Forward"><br>
			Power Forward: <input type="text" name="power_forward" placeholder="Power Forward"><br>
			Center: <input type="text" name="center" placeholder="Center"><br>
			<input type="submit" title="new_team_submit">
		</form>
 </body>
</html>