<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
 		<form method="POST" action="/team">
			Team Name: <input type="text" name="name" placeholder="Team Name"><br>
			Coach: <input type="text" name="coach" placeholder="Coach"><br>
			Point Guard: <input type="text" name="pg" placeholder="Point Guard"><br>
			Shooting Guard: <input type="text" name="sg" placeholder="Shooting Guard"><br>
			Small Forward: <input type="text" name="sf" placeholder="Small Forward"><br>
			Power Forward: <input type="text" name="pf" placeholder="Power Forward"><br>
			Center: <input type="text" name="c" placeholder="Center"><br>
			<input type="submit" id="submit">
		</form>
 </body>
</html>